*{
	margin: 0;
	padding: 0;
	color: white;
}

@mixin section{
	text-align: center;
	margin: 1rem;
	padding: 1rem;
	border-radius: 1rem;
	background-color: #000000c0;
	font-size: 1.5rem;
	*{margin: .5rem 0;}
}

main{
	display: flex;
	flex-direction: column;
	justify-self: center;

	width: 100vw;
	min-height: 100vh;
	background-color: black;

	background-image: url('./img/bdaypartyaustin.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
	background-attachment: fixed;

	header{
		@include section;
	}
	section{
		@include section;
		#map{
			height: 400px;
			border-radius: .5rem;
		}
	}
}
